.movie_wrap{
    overflow: hidden;
    width: calc(100vw - 18em) ;
    height: 100vh;
    position: relative;
}
.movie_wrap video{
    position: absolute;
    top: 0;
    left: 50%;
transform: translateX(-54.3%);
    width: 1920px;
}
body{
    overflow-x: hidden;
}
@media screen and (max-width: 1280px){
    .movie_wrap{
        width: 100vw ;
    }
        .gauge_text{
        position: absolute;
        top:30%;
        right:5%;
              opacity: 100%;
    }
}

@media screen and (max-width: 736px) {
    .wrapper.fullscreen {
        padding: 0 0!important;
    }
    .gauge_text{
        position: absolute;
        top:30%;
        right:5%;
              opacity: 100%;
    }
}




@keyframes Gauge {
    0%{
   transform: scalex(0);}

    50%{transform: scalex(1);}
}
.gauge{
    width: 90%;
    height: 20%;
    background: #9d4edf;
animation: Gauge 5s infinite;
    position: absolute;
    top: 55%;
    left: 5%;
    transform-origin: center left;
}

    .gauge_text2{
opacity: 0;

    }



.inner_ner{
    background-color: rgb(205, 179, 248);
padding: 50px 100px 0;
}
.pr{
    display: flex;
    justify-content: space-between;
}
.features{
    background-color: rgb(185, 151, 240);
}
.inner_txet{
     background-color: rgb(185, 151, 240);
   padding: 20px 30px;   
}
.contact_img{
    text-align: left;
background: rgb(205, 179, 248);

}
#footer{
    	font-weight: bold;
}
